<p>comment-form works!</p>

<!-- Angular Material -->
<!-- <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Име">
    </mat-form-field>
  
    <input type="hidden" formControlName="recipeId" [value]="recipeId">
  
    <mat-form-field>
      <textarea matInput formControlName="comment" placeholder="Коментар"></textarea>
    </mat-form-field>
  
    <button type="submit" mat-raised-button color="primary">Публикувай</button>
  </form> -->
