<p>recipe works!</p>

<ul *ngFor="let item of items">

  <ul>
    <li *ngFor="let img of item.image_recipe">
      <img [src]="img" alt="" />
    </li>
    
  </ul>

  <ul>
    <li *ngFor="let method of item.preparation_method">
      preparation_method: {{ method }}
    </li>
  </ul>

  <ul>
    <li *ngFor="let video of item.video_recipe">
      video: {{ video }}
    </li>
  </ul>

  <li>description: {{ item.description }}</li>
  <li>orderIndex: {{ item.order_index }}</li>
  <li>releaseTime: {{ item.release_time }}</li>
  <li>season: {{ item.season }}</li>
  <li>servingValue: {{ item.serving_value }}</li>
  <li>summary: {{ item.summary }}</li>
</ul>
