.recipe-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.recipe-title {
  font-size: 26px;
  text-align: center;
  font-family: var(--titleFont);
  /* color: var(--mainWhiteColor); */
}


.recipe-summary {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
}

.recipe-category {
  font-style: italic;
  margin-bottom: 10px;
}

.recipe-category a {
  font-size: 18px;
  color: var(--mainGreenColor);
}

.recipe-category a:hover {
  color: var(--secondGreenColor);
}

.recipe-hero {
  /* display: grid; */
  grid-template-columns: 70% 30%;
  gap: 20px;
}

.recipe-image li {
  list-style: none;
  margin-bottom: 10px;
}

.recipe-image li img {
  width: 100%;
  border-radius: 5px;
}


.recipe-description h2 {
  font-size: 20px;
  font-weight: bold;
}

.recipe-description-text {
  font-size: 16px;
}

.recipe-ingredients {
  padding: 0 16px;
}

.recipe-ingredients li {
  font-size: 16px;
  margin-bottom: 10px;
  list-style-type: disc;
}

.recipe-ingredients li a {

  color: var(--mainGreenColor);
}

.recipe-ingredients li a:hover {
  color: var(--secondGreenColor);
}

.recipe-preparation-method li {
  font-size: 16px;
  /* margin-bottom: 10px; */
}



.recipe-other-details p {
  font-size: 16px;
}

.recipe-videos h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.recipe-videos iframe {
  width: 100%;
  max-width: 800px;
  height: 450px;
}

.comments {
  border: 1px solid var(--mainGrayColor);
  margin: 30px 0;
  padding: 20px;
}

.comments ul {
  padding: 10px;
}

.comments ul li {
  margin-bottom: 10px;
  padding-left: 5px;

}

.comments p {
  font-size: 14px;
  color: var(--darkGrayColor);
}

.comments ul li:nth-child(odd) {
  /* background-color: var(--mainWhiteColor); */
  background-color: var(--grayishOrangeColor);
  padding-left: 5px;
  border-radius: 5px;
  /* font-weight: bold; */
}

.comments ul li:nth-child(even) {
  background-color: var(--mainGrayColor);
  font-style: italic;
  border-radius: 5px;
}