/* remove ingredient button */

.removeIngredient {
    all: unset;
    color: red;
    cursor: pointer;
    margin-top: 20px;
}

.removeIngredient:hover {
    color: var(--secondColor);
}



@media (max-width: 460px) {
    form {
        background-color: var(--mainBackgroundColor);
        border: none;
    }

}