<div class="mainLong">
  <h1 class="title">Добавяне на рецепта</h1>
  <form [formGroup]="recipeForm">
    <!-- Title required-->
    <label>
      Заглавие (задължително):
      <input type="text" id="title" formControlName="title" />
    </label>

    <div *ngIf="recipeForm.get('title')?.touched">
      <div class="errors" *ngIf="recipeForm.get('title')?.errors?.['required']">
        Моля попълнете заглавието!
      </div>
    </div>
    <!-- Title -->

    <!-- Category required-->
    <label for="category">Категория (задължително):</label>
    <select id="category" formControlName="category">
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.name }}
      </option>
    </select>

    <div *ngIf="recipeForm.get('category')?.touched">
      <div
        class="errors"
        *ngIf="recipeForm.get('category')?.errors?.['required']"
      >
        Моля изберете категория!
      </div>
    </div>
    <!-- Category -->

    <!-- Description required-->
    <div>
      <label for="description">Description</label>
      <input type="text" id="description" formControlName="description" />
    </div>
    <!-- Description -->

    <!-- Summary -->
    <div>
      <label for="summary">Summary</label>
      <input type="text" id="summary" formControlName="summary" />
    </div>
    <!-- Summary -->

    <!-- Season required-->
    <div>
      <label for="season">Season</label>
      <select id="season" formControlName="season">
        <option value="Пролет">Пролет</option>
        <option value="Лято">Лято</option>
        <option value="Есен">Есен</option>
        <option value="Зима">Зима</option>
      </select>
    </div>
    <!-- Season -->

    <!-- Order Index -->
    <div>
      <label for="order_index">Order Index</label>
      <input type="text" id="order_index" formControlName="order_index" />
    </div>
    <!-- Order Index -->

    <!-- Release Time -->
    <div>
      <label for="release_time">Release Time</label>
      <input type="text" id="release_time" formControlName="release_time" />
    </div>
    <!-- Release Time -->

    <!-- Serving Value -->
    <div>
      <label for="serving_value">Serving Value</label>
      <input type="text" id="serving_value" formControlName="serving_value" />
    </div>
    <!-- Serving Value -->

    <!-- Allergen -->
    <div>
      <div>
        <select formControlName="selectedAllergen">
          <option *ngFor="let allergen of allergens" [value]="allergen.id">
            {{ allergen.name }}
          </option>
        </select>
        <button type="button" (click)="addSelectedAllergen()">
          Add Allergen
        </button>
      </div>
      <div>
        <label>Selected Allergens:</label>
        <div>{{ recipeForm.get("selectedAllergenNames")?.value }}</div>
      </div>
      <!-- Allergen -->

      <!-- Image -->
      <div formArrayName="image_recipe">
        <div
          *ngFor="let image of image_recipe.controls; let i = index"
          [formGroupName]="i"
        >
          <label for="image_recipe">Image</label>
          <input type="text" id="image_recipe" formControlName="image_recipe" />
          <button type="button" (click)="removeImage(i)">Remove Image</button>
        </div>
      </div>
      <button type="button" (click)="addImage()">Add Image</button>
      <!-- Image -->

      <!-- Video -->
      <div formArrayName="video_recipe">
        <div
          *ngFor="let video of video_recipe.controls; let i = index"
          [formGroupName]="i"
        >
          <label for="video_recipe">Video</label>
          <input type="text" id="video_recipe" formControlName="video_recipe" />
          <button type="button" (click)="removeVideo(i)">Remove Video</button>
        </div>
        <button type="button" (click)="addVideo()">Add Video</button>
      </div>
      <!-- Video -->

      <!-- Preparation -->
      <div formArrayName="preparation_method">
        <div
          *ngFor="let preparation of preparation_method.controls; let i = index"
          [formGroupName]="i"
        >
          <label for="preparation_method">Preparation Method</label>
          <input
            type="text"
            id="preparation_method"
            formControlName="preparation_method"
          />
          <button type="button" (click)="removePreparation(i)">
            Remove Preparation
          </button>
        </div>
        <button type="button" (click)="addPreparation()">
          Add Preparation
        </button>
      </div>
      <!-- Preparation -->

      <!-- Plate required-->
      <label for="food_plate">Plate</label>
      <select id="food_plate" formControlName="food_plate">
        <option *ngFor="let plate of plates" [value]="plate.id">
          {{ plate.name }}
        </option>
      </select>
      <!-- Plate -->
    </div>

    <div class="ingredients" formArrayName="ingredients">
      <div
        *ngFor="let ingredient of ingredients.controls; let i = index"
        [formGroupName]="i"
      >
        <!-- Ingredient титле-->
        <div class="ingredientTitle">
          <hr />
          <p>&nbsp;&nbsp;Съставка&nbsp;&nbsp;</p>
          <hr />
        </div>

        <!-- Name required-->

        <label for="name">Име (задължително):</label>
        <input type="text" id="name" formControlName="name" />

        <div *ngIf="recipeForm.get('ingredients.' + i + '.name')?.touched">
          <div
            class="errors"
            *ngIf="recipeForm.get('ingredients.' + i + '.name')?.errors?.['required']"
          >
            Моля попълнете име на съставката!
          </div>
        </div>

        <!-- Amount required-->

        <label for="amount">Количество (задължително):</label>
        <input type="number" id="amount" formControlName="amount" />

        <div *ngIf="recipeForm.get('ingredients.' + i + '.amount')?.touched">
          <div
            class="errors"
            *ngIf="recipeForm.get('ingredients.' + i + '.amount')?.errors?.['required']"
          >
            Моля попълнете количеството на съставката!
          </div>
        </div>

        <!-- Unit required-->

        <label for="unit">Мерна еденица (задължително):</label>
        <p class="hint">В която измерваме съставката</p>
        <select id="unit" formControlName="unit">
          <option value="гр.">Грам</option>
          <option value="кг.">Килограм</option>
          <option value="мл.">Милилитър</option>
          <option value="л.">Литър</option>
        </select>

        <div *ngIf="recipeForm.get('ingredients.' + i + '.unit')?.touched">
          <div
            class="errors"
            *ngIf="recipeForm.get('ingredients.' + i + '.unit')?.errors?.['required']"
          >
            Моля изберете мерна еденица!
          </div>
        </div>

        <!-- Quantity -->

        <label for="quantity">Бройка</label>
        <p class="hint">
          Използва се когато съставка има точно определени бройки
        </p>
        <input type="number" id="quantity" formControlName="quantity" />

        <!-- Preparation Method -->

        <label for="preparation_method"
          >Методи на приготвяне на съставката</label
        >
        <p class="hint">
          Въведете методите, разделени със запетайка и интервал:
          <br />
          Пример: Почистване, измиване, нарязване.
        </p>

        <input
          type="text"
          id="preparation_method"
          formControlName="preparation_method"
        />

        <!-- Base link -->

        <label for="base">Избери основна рецепта:</label>
        <p class="hint">
          Ако тази съставка е част от основна рецепта моля изберете коя?
        </p>
        <select id="base" formControlName="base">
          <option *ngFor="let recipe of baseRecipes" [value]="recipe.id">
            {{ recipe.title }}
          </option>
        </select>

        <!-- Order Index -->

        <label for="order_index">Последователност</label>
        <p class="hint">Редът по който се показват съставките в рецептата</p>
        <input type="number" id="order_index" formControlName="order_index" />
      </div>
    </div>
    <br />

    <button type="button" (click)="addIngredient()">Add Ingredient</button>
    <button type="button" (click)="onSubmit()">Submit</button>
  </form>
</div>
