<div class="mainLong">
  <div class="category">
    <h1 class="category-title">
      {{ category?.name }}
    </h1>
    <h4 class="category-subtitle">
      {{ category?.note }}
    </h4>

    <div class="recipe-list">
      <div *ngFor="let recipe of recipes">
        <a [routerLink]="['/recipe', recipe.id]">
          <div class="recipe-item">
            <div class="recipe-image">
              <img [src]="recipe.image_recipe" alt="{{ recipe.title }}" />
            </div>
            <p class="recipe-title">{{ recipe.title }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
