<div class="mainLong">
  <div class="wrapper">
    <h1 class="title-black">Редактиране на базова рецепта</h1>
    <form [formGroup]="baseFormEdit">
      <!-- Title required-->
      <label for="title"> Заглавие (задължително): </label>
      <input type="text" id="title" formControlName="title" />

      <div *ngIf="baseFormEdit.get('title')?.touched">
        <div
          class="errors"
          *ngIf="baseFormEdit.get('title')?.errors?.['required']"
        >
          Моля попълнете заглавието!
        </div>
      </div>

      <!-- Base Type required-->
      <label for="base_type"> Вид (задължително): </label>
      <p class="hint">Сос, Дресин, Основа и др.</p>
      <input type="text" id="base_type" formControlName="base_type" />

      <div *ngIf="baseFormEdit.get('base_type')?.touched">
        <div
          class="errors"
          *ngIf="baseFormEdit.get('base_type')?.errors?.['required']"
        >
          Моля попълнете вид!
        </div>
      </div>

      <!-- Summary -->
      <label for="summary"> Резюме: </label>
      <p class="hint">Кратко изложение на рецепта</p>
      <textarea id="summary" formControlName="summary"></textarea>

      <!-- Description required-->
      <label for="description"> Начин на приготвяне (задължително): </label>
      <textarea
        rows="10"
        id="description"
        formControlName="description"
      ></textarea>

      <div *ngIf="baseFormEdit.get('description')?.touched">
        <div
          class="errors"
          *ngIf="baseFormEdit.get('description')?.errors?.['required']"
        >
          Моля попълнете начин на приготвяне!
        </div>
      </div>

      <!--Base Yield required-->
      <label for="base_yield"> Добив (задължително): </label>
      <p class="hint">Количесто на готовата продукция</p>
      <input type="number" id="base_yield" formControlName="base_yield" />

      <div *ngIf="baseFormEdit.get('base_yield')?.touched">
        <div
          class="errors"
          *ngIf="baseFormEdit.get('base_yield')?.errors?.['required']"
        >
          Моля попълнете добив!
        </div>
      </div>

      <!-- Unit required-->
      <label for="unit"> Мерна еденица (задължително): </label>
      <p class="hint">В която измерваме добивът</p>
      <!--      <input type="text" id="unit" formControlName="unit"/>-->
      <select id="unit" formControlName="unit">
        <option value="гр.">Грам</option>
        <option value="кг.">Килограм</option>
        <option value="мл.">Милилитър</option>
        <option value="л.">Литър</option>
      </select>

      <div *ngIf="baseFormEdit.get('unit')?.touched">
        <div
          class="errors"
          *ngIf="baseFormEdit.get('unit')?.errors?.['required']"
        >
          Моля изберете мерна еденица!
        </div>
      </div>

      <!-- Base Recipe Portions -->
      <label for="unit"> Порций: </label>
      <p class="hint">Колко порций получаваме от тази рецепта</p>
      <input
        type="text"
        id="base_recipe_portions"
        formControlName="base_recipe_portions"
      />

      <!-- Allergens checkbox -->
      <div formArrayName="allergens">
        <label>Алергени: </label>

        <div
          class="checkbox-wrapper"
          *ngFor="let allergen of allergens; let i = index"
        >
          <input
            type="checkbox"
            [id]="'allergen' + i"
            [value]="allergen.id"
            [checked]="isAllergenSelected(allergen.id)"
            (change)="toggleAllergenSelection(allergen.id)"
            class="sc-gJwTLC ikxBAC"
          />
          <label class="checkbox-label" for="{{ 'allergen' + i }}">{{
            allergen.name
          }}</label>
        </div>
      </div>

      <!-- Allergens checkbox -->

      <!-- Image Upload -->
      <app-image-upload (imageUploaded)="addImageToForm($event)" />

      <!-- Image -->
      <div formArrayName="image_recipe">
        <div
          *ngFor="let image of image_recipe.controls; let i = index"
          [formGroupName]="i"
        >
          <p class="hint">Добавена снимка</p>
          <!-- Name required-->
          <label [for]="'image_recipe' + i">Снимка</label>
          <input
            type="text"
            [id]="'image_recipe' + i"
            formControlName="image_recipe"
          />
          <!-- Image preview -->
          <img
            *ngIf="image_recipe.controls[i].get('image_recipe')?.value"
            [src]="image_recipe.controls[i].get('image_recipe')?.value"
            alt="Image Preview"
            class="image-preview"
          />
          <button type="button" (click)="removeImage(i)">
            Премахнете добавената снимка
          </button>
        </div>
      </div>

      <!-- Video -->
      <!--      <p class="hint">Поставете тук видео линкът</p>-->
      <div formArrayName="video_recipe">
        <div
          *ngFor="let video of video_recipe.controls; let i = index"
          [formGroupName]="i"
        >
          <!-- Name required-->
          <label [for]="'video_recipe' + i">Видео</label>
          <input
            type="text"
            [id]="'video_recipe' + i"
            formControlName="video_recipe"
          />

          <!-- Video preview -->
          <div *ngIf="video_recipe.controls[i].get('video_recipe')?.value">
            <iframe
              [src]="
                video_recipe.controls[i].get('video_recipe')?.value | safeUrl
              "
              width="560"
              height="315"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>

          
          <button type="button" (click)="removeVideo(i)">
            Премахнете видео линкът
          </button>
        </div>
        <button type="button" (click)="addVideo()">
          Добавете линк към видео
        </button>
      </div>

      <!-- Preparation -->

      <div
        *ngIf="
          base?.preparation_method && base?.preparation_method?.length! > 0
        "
        formArrayName="preparation_method"
      >
        <p class="hint">Методите, който вече сте добавили:</p>
        <div
          *ngFor="let method of preparation_method.controls; let i = index"
          [formGroupName]="i"
        >
          <label [for]="'method' + i">Метод</label>
          <input
            type="text"
            [id]="'method' + i"
            formControlName="preparation_method"
          />
          <button type="button" (click)="removePreparation(i)">
            Премахнете метода
          </button>
        </div>
        <button type="button" (click)="addPreparation()">
          Добавете метод на приготвяне
        </button>
      </div>

      <!-- Ingredients -->
   

      <div formArrayName="ingredients">
        <div
          *ngFor="let ingredient of ingredients.controls; let i = index"
          [formGroupName]="i"
        >


        <div class="ingredient">

          <!-- Ingredients -->
      <div class="divider">
        <hr />
        <p>&nbsp;&nbsp;Съставка&nbsp;&nbsp;</p>
        <hr />
      </div>


          <!-- Name required-->
          <label [for]="'name' + i">Име (задължително):</label>
          <input type="text" [id]="'name' + i" formControlName="name" />

          <div *ngIf="baseFormEdit.get('ingredients.' + i + '.name')?.touched">
            <div
              class="errors"
              *ngIf="baseFormEdit.get('ingredients.' + i + '.name')?.errors?.['required']"
            >
              Моля попълнете име на съставката!
            </div>
          </div>

          <!-- Amount required-->
          <label [for]="'amount' + i">Количество (задължително):</label>
          <input type="number" [id]="'amount' + i" formControlName="amount" />

          <div
            *ngIf="baseFormEdit.get('ingredients.' + i + '.amount')?.touched"
          >
            <div
              class="errors"
              *ngIf="baseFormEdit.get('ingredients.' + i + '.amount')?.errors?.['required']"
            >
              Моля попълнете количеството на съставката!
            </div>
          </div>

          <!-- Unit required-->
          <label [for]="'unit' + i">Мерна еденица (задължително):</label>
          <p class="hint">В която измерваме съставката</p>
          <select [id]="'unit' + i" formControlName="unit">
            <option value="гр.">Грам</option>
            <option value="кг.">Килограм</option>
            <option value="мл.">Милилитър</option>
            <option value="л.">Литър</option>
          </select>

          <div *ngIf="baseFormEdit.get('ingredients.' + i + '.unit')?.touched">
            <div
              class="errors"
              *ngIf="baseFormEdit.get('ingredients.' + i + '.unit')?.errors?.['required']"
            >
              Моля изберете мерна еденица!
            </div>
          </div>

          <!-- Quantity -->
          <label [for]="'quantity' + i">Бройка:</label>
          <p class="hint">
            Използва се когато съставка има точно определени бройки
          </p>
          <input
            type="number"
            [id]="'quantity' + i"
            formControlName="quantity"
          />

          <!-- Preparation Method -->
          <label [for]="'preparation_method' + i"
            >Допълнителна информация:</label
          >
          <p class="hint">
            Въведете информация, разделена със запетайка и интервал:
            <br />
            Пример: Почистване, измиване, нарязване.
          </p>
          <input
            type="text"
            [id]="'preparation_method' + i"
            formControlName="preparation_method"
          />

          <!-- Base link -->
          <label [for]="'base' + i">Избери базова рецепта:</label>
          <p class="hint">
            Ако тази съставка е базова рецепта моля изберете коя?
          </p>
          <select [id]="'base' + i" formControlName="base">
            <option *ngFor="let recipe of baseRecipes" [value]="recipe.id">
              {{ recipe.title }}
            </option>
          </select>

          <!-- Order Index -->

          <label [for]="'order_index' + i">Последователност:</label>
          <p class="hint">Редът по който се показват съставките в рецептата</p>
          <input
            type="number"
            [id]="'order_index' + i"
            formControlName="order_index"
          />

          <!-- Add a button to remove the ingredient -->
          <button class="removeIngredient" type="button" (click)="removeIngredient(i)">
            <i class="fa-solid fa-trash fa-shake"></i>&nbsp;Премахнете съставката
          </button>
        </div>
      </div>
    </div>

    <br />

      <!-- Add button to add new ingredient -->
      <button type="button" class="addIngredient" (click)="addIngredient()">
        <i class="fa-solid fa-plus fa-beat-fade"></i>
        Добавете още една съставка
      </button>

      <!-- Submit button -->
      <button type="button" (click)="onSubmit()">Запазете промените</button>

      <a class="backBtn" href="javascript:history.back()"
        ><i class="fa-solid fa-backward fa-beat-fade"></i>&nbsp;&nbsp;Върнете се
        назад</a
      >
    </form>
  </div>
</div>
