<div class="mainLong">
  <div class="wrapper">
    <h1 class="title-black">Редактиране на рецепта</h1>
    <form [formGroup]="recipeFormEdit">
      <!-- Title required-->
      <label for="title"> Заглавие (задължително): </label>
      <input type="text" id="title" formControlName="title" />

      <div *ngIf="recipeFormEdit.get('title')?.touched">
        <div
          class="errors"
          *ngIf="recipeFormEdit.get('title')?.errors?.['required']"
        >
          Моля попълнете заглавието!
        </div>
      </div>

      <!-- Category required-->
      <label for="category">Категория (задължително):</label>
      <p class="hint">Към коя категория пренадлежи тази рецепта?</p>

      <select id="category" formControlName="category">
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>

      <div *ngIf="recipeFormEdit.get('category')?.touched">
        <div
          class="errors"
          *ngIf="recipeFormEdit.get('category')?.errors?.['required']"
        >
          Моля изберете категория!
        </div>
      </div>
      <!-- Category -->

      <!-- Summary -->
      <label for="summary"> Резюме: </label>
      <p class="hint">Кратко изложение на рецепта</p>
      <textarea rows="10" id="summary" formControlName="summary"></textarea>

      <!-- Description required-->
      <label for="description"> Начин на приготвяне (задължително): </label>
      <textarea
        rows="10"
        id="description"
        formControlName="description"
      ></textarea>

      <div *ngIf="recipeFormEdit.get('description')?.touched">
        <div
          class="errors"
          *ngIf="recipeFormEdit.get('description')?.errors?.['required']"
        >
          Моля попълнете начин на приготвяне!
        </div>
      </div>

      <!-- Season required-->
      <label for="season">Сезон (задължително):</label>
      <p class="hint">В кой сезон ще приготвяме рецепта?</p>

      <select id="season" formControlName="season">
        <option value="Пролет">Пролет</option>
        <option value="Лято">Лято</option>
        <option value="Есен">Есен</option>
        <option value="Зима">Зима</option>
      </select>

      <div *ngIf="recipeFormEdit.get('season')?.touched">
        <div
          class="errors"
          *ngIf="recipeFormEdit.get('season')?.errors?.['required']"
        >
          Моля изберете сезон!
        </div>
      </div>

      <!-- Recipe Release time -->
      <label for="release_time">Време за изпълнение: </label>
      <p class="hint">За колко време трябва да приготвяме рецепта?</p>
      <input type="text" id="release_time" formControlName="release_time" />

      <!-- Recipe Serving value -->
      <label for="serving_value">Готово количество: </label>
      <p class="hint">Колко тежи готовото ястие?</p>
      <input type="text" id="serving_value" formControlName="serving_value" />

      <!-- Unit required-->
      <label for="unit"> Мерна еденица (задължително): </label>
      <p class="hint">В която измерваме добивът</p>
      <select id="unit" formControlName="unit">
        <option value="гр.">Грам</option>
        <option value="кг.">Килограм</option>
        <option value="мл.">Милилитър</option>
        <option value="л.">Литър</option>
      </select>

      <div *ngIf="recipeFormEdit.get('unit')?.touched">
        <div
          class="errors"
          *ngIf="recipeFormEdit.get('unit')?.errors?.['required']"
        >
          Моля изберете мерна еденица!
        </div>
      </div>

      <!-- Allergens checkbox -->
      <div formArrayName="allergens">
        <label>Алергени: </label>

        <div
          class="checkbox-wrapper"
          *ngFor="let allergen of allergens; let i = index"
        >
          <input
            type="checkbox"
            [id]="'allergen' + i"
            [value]="allergen.id"
            [checked]="isAllergenSelected(allergen.id)"
            (change)="toggleAllergenSelection(allergen.id)"
            class="sc-gJwTLC ikxBAC"
          />
          <label class="checkbox-label" for="{{ 'allergen' + i }}">{{
            allergen.name
          }}</label>
        </div>
      </div>

      <!-- Allergens checkbox -->

      <!-- Image Upload -->
      <app-image-upload (imageUploaded)="addImageToForm($event)" />

      <!-- Image -->
      <div formArrayName="image_recipe">
        <div
          *ngFor="let image of image_recipe.controls; let i = index"
          [formGroupName]="i"
        >
          <p class="hint">Добавена снимка</p>
          <!-- Name required-->
          <label [for]="'image_recipe' + i">Снимка</label>
          <input
            type="text"
            [id]="'image_recipe' + i"
            formControlName="image_recipe"
          />
          <!-- Image preview -->
          <img
            *ngIf="image_recipe.controls[i].get('image_recipe')?.value"
            [src]="image_recipe.controls[i].get('image_recipe')?.value"
            alt="Image Preview"
            class="image-preview"
          />

          <button type="button" (click)="removeImage(i)">
            Премахнете добавената снимка
          </button>
        </div>
      </div>

      <!-- Video -->
      <!--      <p class="hint">Поставете тук видео линкът</p>-->
      <div formArrayName="video_recipe">
        <div
          *ngFor="let video of video_recipe.controls; let i = index"
          [formGroupName]="i"
        >
          <!-- Name required-->
          <label [for]="'video_recipe' + i">Видео</label>
          <input
            type="text"
            [id]="'video_recipe' + i"
            formControlName="video_recipe"
          />

          <!-- Video preview -->
          <div *ngIf="video_recipe.controls[i].get('video_recipe')?.value">
            <iframe
              [src]="
                video_recipe.controls[i].get('video_recipe')?.value | safeUrl
              "
              width="560"
              height="315"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>

          <button type="button" (click)="removeVideo(i)">
            Премахнете видео линкът
          </button>
        </div>
        <button type="button" (click)="addVideo()">
          Добавете линк към видео
        </button>
      </div>

      <!-- Preparation -->

      <div
        *ngIf="
          recipe?.preparation_method && recipe?.preparation_method?.length! > 0
        "
        formArrayName="preparation_method"
      >
        <p class="hint">Методите, който вече сте добавили:</p>
        <div
          *ngFor="let method of preparation_method.controls; let i = index"
          [formGroupName]="i"
        >
          <label [for]="'method' + i">Метод</label>
          <input
            type="text"
            [id]="'method' + i"
            formControlName="preparation_method"
          />
          <button type="button" (click)="removePreparation(i)">
            Премахнете метода
          </button>
        </div>
        <button type="button" (click)="addPreparation()">
          Добавете метод на приготвяне
        </button>
      </div>

      <!-- Plate required-->
      <label for="food_plate">Чиния (задължително):</label>
      <p class="hint">В коя чиния ще се сервира ястието?</p>

      <select id="food_plate" formControlName="food_plate">
        <option *ngFor="let plate of plates" [value]="plate.id">
          {{ plate.name }}
        </option>
      </select>

      <div *ngIf="recipeFormEdit.get('food_plate')?.touched">
        <div
          class="errors"
          *ngIf="recipeFormEdit.get('food_plate')?.errors?.['required']"
        >
          Моля изберете чиния!
        </div>
      </div>
      <!-- Plate -->

      <!--Recipe Order index -->
      <label for="order_index">Последователност: </label>
      <p class="hint">Редът по който се показват рецептите в категорията</p>
      <input type="text" id="order_index" formControlName="order_index" />

      <!-- Ingredients -->
     

      <div formArrayName="ingredients">
        <div
          *ngFor="let ingredient of ingredients.controls; let i = index"
          [formGroupName]="i"
          
        >

        <div class="ingredient">
        <div class="divider">
          <hr />
          <p>&nbsp;&nbsp;Съставка&nbsp;&nbsp;</p>
          <hr />
        </div>



          <!-- Name required-->
          <label [for]="'name' + i">Име (задължително):</label>
          <input type="text" [id]="'name' + i" formControlName="name" />

          <div
            *ngIf="recipeFormEdit.get('ingredients.' + i + '.name')?.touched"
          >
            <div
              class="errors"
              *ngIf="recipeFormEdit.get('ingredients.' + i + '.name')?.errors?.['required']"
            >
              Моля попълнете име на съставката!
            </div>
          </div>

          <!-- Amount required-->
          <label [for]="'amount' + i">Количество (задължително):</label>
          <input type="number" [id]="'amount' + i" formControlName="amount" />

          <div
            *ngIf="recipeFormEdit.get('ingredients.' + i + '.amount')?.touched"
          >
            <div
              class="errors"
              *ngIf="recipeFormEdit.get('ingredients.' + i + '.amount')?.errors?.['required']"
            >
              Моля попълнете количеството на съставката!
            </div>
          </div>

          <!-- Unit required-->
          <label [for]="'unit' + i">Мерна еденица (задължително):</label>
          <p class="hint">В която измерваме съставката</p>
          <select [id]="'unit' + i" formControlName="unit">
            <option value="гр.">Грам</option>
            <option value="кг.">Килограм</option>
            <option value="мл.">Милилитър</option>
            <option value="л.">Литър</option>
          </select>

          <div
            *ngIf="recipeFormEdit.get('ingredients.' + i + '.unit')?.touched"
          >
            <div
              class="errors"
              *ngIf="recipeFormEdit.get('ingredients.' + i + '.unit')?.errors?.['required']"
            >
              Моля изберете мерна еденица!
            </div>
          </div>

          <!-- Quantity -->
          <label [for]="'quantity' + i">Бройка:</label>
          <p class="hint">
            Използва се когато съставка има точно определени бройки
          </p>
          <input
            type="number"
            [id]="'quantity' + i"
            formControlName="quantity"
          />

          <!-- Preparation Method -->
          <label [for]="'preparation_method' + i"
            >Допълнителна информация:</label
          >
          <p class="hint">
            Въведете информация, разделена със запетайка и интервал:
            <br />
            Пример: Почистване, измиване, нарязване.
          </p>
          <input
            type="text"
            [id]="'preparation_method' + i"
            formControlName="preparation_method"
          />

          <!-- Base link -->
          <label [for]="'base' + i">Избери базова рецепта:</label>
          <p class="hint">
            Ако тази съставка е базова рецепта моля изберете коя?
          </p>
          <select [id]="'base' + i" formControlName="base">
            <option *ngFor="let recipe of baseRecipes" [value]="recipe.id">
              {{ recipe.title }}
            </option>
          </select>

          <!-- Order Index -->

          <label [for]="'order_index' + i">Последователност:</label>
          <p class="hint">Редът по който се показват съставките в рецептата</p>
          <input
            type="number"
            [id]="'order_index' + i"
            formControlName="order_index"
          />

          <!-- Add a button to remove the ingredient -->
          <button class="removeIngredient" type="button" (click)="removeIngredient(i)">
            <i class="fa-solid fa-trash fa-shake"></i>&nbsp;Премахнете съставката
          </button>
        </div>
      </div>
    </div>
    <br/>

      <!-- Add button to add new ingredient -->
      <button type="button" class="addIngredient" (click)="addIngredient()">
        <i class="fa-solid fa-plus fa-beat-fade"></i>
        Добавете още една съставка
      </button>

      <!-- Submit button -->
      <button type="button" (click)="onSubmit()">Запазете промените</button>

      <a class="backBtn" href="javascript:history.back()"
        ><i class="fa-solid fa-backward fa-beat-fade"></i>&nbsp;&nbsp;Върнете се
        назад</a
      >
    </form>
  </div>
</div>
