<div class="mainLong">
  <div class="wrapper">
    <h1 class="title-white">Регистрация</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="submitSignUpForm()">
      <!-- Your authentication form fields -->
      <label for="email">Имейл:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        autocomplete="email"
      />

      <label for="password">Парола:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        autocomplete="new-password"
      />

      <label for="repeatPassword">Повтори Паролата:</label>
      <input
        type="password"
        id="repeatPassword"
        formControlName="repeatPassword"
        autocomplete="new-password"
      />

      <label for="firstName">Име:</label>
      <input type="text" id="firstName" formControlName="firstName" />

      <label for="lastName">Фамилия:</label>
      <input type="text" id="lastName" formControlName="lastName" />

      <div class="form-group">
        <label for="fromRestaurant">От Ресторант:</label>
        <select
          id="fromRestaurant"
          name="fromRestaurant"
          formControlName="fromRestaurant"
        >
          <option value="Romance-1">Romance 1</option>
          <option value="Romance-2">Romance 2</option>
          <option value="Romance-3">Romance 3</option>
          <option value="Romance-5">Romance 5</option>
        </select>
      </div>

      <label>
        Готвач ли си?
        <input type="checkbox" formControlName="isCook" />
      </label>
      <button type="submit">Изпрати</button>
      <a href="#" routerLink="/sign-in">
        <div class="hint">Вече имаш регистрация?</div>

      </a>

    </form>
  </div>
</div>
