  .list-categories {
      margin: 0 auto;
      max-width: 800px;

  }

  .wrapper {
      margin: 0 auto;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      justify-items: center;
      align-items: center;
  }

  .custom-card {
      background-color: var(--mainWhiteColor);
      border: 1px solid var(--mainGrayColor);
      border-radius: 5px;
      margin: 10px 0;
      transition: transform 0.2s;
  }

  .custom-card:hover {
      transform: scale(1.05);
  }

  .custom-card-header {
      background-color: var(--mainGreenColor);
      color: var(--mainWhiteColor);
      padding: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: center;
  }

  .custom-card-title {
      font-size: 16px;
  }

  .custom-card-content ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .custom-card-content ul li {
      padding: 5px 10px;
      border-bottom: 1px solid var(--mainGrayColor);
  }

  .custom-card-content ul li:last-child {
      border-bottom: none;
  }

  img {
      max-width: 100%;
      height: auto;
  }

  a {
      text-decoration: none;
      color: #000;
  }

  a:hover {
      background-color: #f0f0f0;
  }