<div *ngFor="let category of categories">
  <a [routerLink]="['/category/', category.id]">
    <mat-card *ngIf="category.is_active">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ category.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>{{ category.menu }}</li>
          <li>{{ category.order_index }}</li>
          <li>{{ category.note }}</li>
          <li><img [src]="category.image" alt="" /></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </a>
</div>
