<div class="mainLong">
  <section class="categories-list">
    <h1 class="category-title">Категории</h1>

    <section class="wrapper">
      <ul class="cards" *ngFor="let category of categories">
        <!-- card -->
        <a [routerLink]="['/category/', category.id]">
          <div *ngIf="category.is_active">
            <li class="card-item">
              <div class="card" tabindex="0">
                <div class="card-image">
                  <img [src]="category.image" alt="category.name" />
                </div>

                <h3 class="card-title">{{ category.name }}</h3>
                <!-- <p>{{ category.menu }}{{ category.note }}</p> -->
              </div>
            </li>
          </div>
        </a>
      </ul>
    </section>
  </section>
</div>
