.header {
  height: 8vh;
  background-color: var(--mainGreenColor);
  color: var(--mainWhiteColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 32px;
  font-weight: 900;
  text-decoration: underline;
}

.logo a {
  color: var(--mainWhiteColor);
}

.navigation ul {
  display: flex;
  align-items: center;
}

.navigation li {
  margin-right: 20px;
}

.navigation a {
  text-decoration: none;
  color: var(--mainWhiteColor);
}




/* dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  all: unset;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -3px;
  background-color: var(--mainGreenColor);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--mainBlackColor);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--mainGrayColor);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color:var(--mainBlackColor);
}