.header {
    height: 10vh;
    background-color: #8abe53; 
    color: #FFF; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo{
  font-size: 42px;
  font-weight: 900;
  text-decoration:underline;

  }
  .logo a {
    color: white;
  }
  
  .navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #FFF; 
  }