<header class="header">
  <div class="wrapper">
    <div class="logo">
      <a routerLink="/home">Chefs Talks</a>
    </div>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/categories">Меню</a></li>
        <li *ngIf="userData"><a routerLink="/base">Бази</a></li>
      </ul>
      <div class="dropdown-menu">
        <ng-container *ngIf="userData && userData.isAdmin">
          <div class="dropdown">
            <button class="dropBtn" (click)="toggleMenu()">
              Добави<i class="fa fa-caret-down"></i>
            </button>

            <div
              class="dropdown-content"
              *ngIf="isMenuOpen"
              (click)="closeMenu()"
            >
            <a href="#" routerLink="/add-category">Меню</a>
            <a href="#" routerLink="/add-recipe">Рецепта</a>
              <a href="#" routerLink="/add-base">База</a>
            </div>
          </div>
        </ng-container>

        <div>
          <div class="dropdown" *ngIf="userData; else anonymousUser">
            <button class="dropBtn" (click)="toggleMenu()">
              <span>{{ getUserDisplayName() }}</span
              ><i class="fa fa-caret-down"></i>
            </button>
            <div
              class="dropdown-content"
              *ngIf="isMenuOpen"
              (click)="closeMenu()"
            >
              <a routerLink="/dashboard">Профил</a>
              <a (click)="logout()">Изход</a>
            </div>
          </div>

          <ng-template #anonymousUser>
            <div class="dropdown">
              <button class="dropBtn" (click)="toggleMenu()">
                <span><i class="fa-regular fa-user fa-flip"></i></span
                ><i class="fa fa-caret-down"></i>
              </button>
              <div
                class="dropdown-content"
                *ngIf="isMenuOpen"
                (click)="closeMenu()"
              >
                <a routerLink="/sign-up">Регистрация</a>
                <a routerLink="/sign-in">Вход</a>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </nav>
  </div>
</header>
