<div class="mainLong">
  <div class="wrapper">
    <h1 class="title-black">Добавяне на базова рецепта</h1>
    <form [formGroup]="baseForm">
      <!-- Title required-->
      <label>
        Заглавие (задължително):
        <input type="text" id="title" formControlName="title" />
      </label>

      <div *ngIf="baseForm.get('title')?.touched">
        <div class="errors" *ngIf="baseForm.get('title')?.errors?.['required']">
          Моля попълнете заглавието!
        </div>
      </div>
      <!-- Title -->

      <!-- Base Type required-->
      <div>
        <label for="base_type">Вид (задължително):</label>
        <p class="hint">Сос, Дресин, Основа и др.</p>
        <input type="text" id="base_type" formControlName="base_type" />
      </div>

      <div *ngIf="baseForm.get('base_type')?.touched">
        <div
          class="errors"
          *ngIf="baseForm.get('base_type')?.errors?.['required']"
        >
          Моля попълнете вид!
        </div>
      </div>
      <!-- Base Type -->

      <!-- Summary -->
      <div>
        <label for="summary">Резюме:</label>
        <p class="hint">Кратко изложение на рецепта</p>
        <input type="text" id="summary" formControlName="summary" />
      </div>
      <!-- Summary -->

      <!-- Description required-->
      <div>
        <label for="description">Начин на приготвяне (задължително):</label>
        <textarea
          name="text"
          id="description"
          formControlName="description"
          cols="30"
          rows="5"
        ></textarea>
      </div>
      <div *ngIf="baseForm.get('description')?.touched">
        <div
          class="errors"
          *ngIf="baseForm.get('description')?.errors?.['required']"
        >
          Моля попълнете начин на приготвяне!
        </div>
      </div>
      <!-- Description -->

      <!--Base Yield required-->
      <div>
        <label for="base_yield">Добив (задължително):</label>
        <p class="hint">Количесто на готовата продукция</p>
        <input type="number" id="base_yield" formControlName="base_yield" />
      </div>
      <div *ngIf="baseForm.get('base_yield')?.touched">
        <div
          class="errors"
          *ngIf="baseForm.get('base_yield')?.errors?.['required']"
        >
          Моля попълнете добив!
        </div>
      </div>
      <!-- Yield -->

      <!-- Unit required-->
      <label for="unit">Мерна еденица (задължително):</label>
      <p class="hint">В която измерваме добивът</p>
      <select id="unit" formControlName="unit">
        <option value="гр.">Грам</option>
        <option value="кг.">Килограм</option>
        <option value="мл.">Милилитър</option>
        <option value="л.">Литър</option>
      </select>
      <div *ngIf="baseForm.get('unit')?.touched">
        <div class="errors" *ngIf="baseForm.get('unit')?.errors?.['required']">
          Моля изберете мерна еденица!
        </div>
      </div>

      <!-- Base Recipe Portions -->
      <div>
        <label for="base_recipe_portions">Порций: </label>
        <p class="hint">Колко порций получаваме от тази рецепта</p>
        <input
          type="number"
          id="base_recipe_portions"
          formControlName="base_recipe_portions"
        />
      </div>
      <!-- Base Recipe Portions -->

      <div>
        <!-- Allergens checkbox -->
        <div formArrayName="allergens">
          <label>Алергени: </label>

          <div
            class="checkbox-wrapper"
            *ngFor="let allergen of allergens; let i = index"
          >
            <input
              type="checkbox"
              [id]="'allergen' + i"
              [value]="allergen.id"
              [checked]="isAllergenSelected(allergen.id)"
              (change)="toggleAllergenSelection(allergen.id)"
              class="sc-gJwTLC ikxBAC"
            />
            <label class="checkbox-label" for="{{ 'allergen' + i }}">{{
              allergen.name
            }}</label>
          </div>
        </div>

        <!-- Allergens checkbox -->

        <!-- Allergen -->

        <!-- Image Upload -->

        <app-image-upload (imageUploaded)="addImageToForm($event)" />

        <!-- Image Upload -->

        <!-- Image -->
        <div formArrayName="image_recipe">
          <div
            *ngFor="let image of image_recipe.controls; let i = index"
            [formGroupName]="i"
          >
            <p class="hint">Добавена снимка</p>
            <input
              type="text"
              id="image_recipe"
              formControlName="image_recipe"
            />
            <!-- Image preview -->
            <img
              *ngIf="image_recipe.controls[i].get('image_recipe')?.value"
              [src]="image_recipe.controls[i].get('image_recipe')?.value"
              alt="Image Preview"
              class="image-preview"
            />
            <button type="button" (click)="removeImage(i)">
              Премахнете добавената снимка
            </button>
          </div>
        </div>
        <!-- Image -->

        <!-- Video -->
        <div formArrayName="video_recipe">
          <div
            *ngFor="let video of video_recipe.controls; let i = index"
            [formGroupName]="i"
          >
            <p class="hint">Поставете тук видео линкът</p>
            <input
              type="text"
              id="video_recipe"
              formControlName="video_recipe"
            />
            <button type="button" (click)="removeVideo(i)">
              Премахнете видео линкът
            </button>
          </div>
          <button type="button" (click)="addVideo()">
            Добавете линк към видео
          </button>
        </div>
        <!-- Video -->

        <!-- Preparation -->
        <div formArrayName="preparation_method">
          <div
            *ngFor="
              let preparation of preparation_method.controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <p class="hint">
              Добавете метод използван при приготвяне на рецептата
            </p>
            <input
              type="text"
              id="preparation_method"
              formControlName="preparation_method"
            />
            <button type="button" (click)="removePreparation(i)">
              Премахнете метода
            </button>
          </div>
          <button type="button" (click)="addPreparation()">
            Добавете метод на приготвяне
          </button>
        </div>
        <!-- Preparation -->

        <!-- Ingredients -->
      </div>
      <div class="ingredients" formArrayName="ingredients">
        <div
          *ngFor="let ingredient of ingredients.controls; let i = index"
          [formGroupName]="i"
        >


        <div class="ingredient">


          <!-- Ingredient -->
          <div class="divider">
            <hr />
            <p>&nbsp;&nbsp;Съставка&nbsp;&nbsp;</p>
            <hr />
          </div>

          <!-- Name required-->

          <label for="name">Име (задължително):</label>
          <input type="text" id="name" formControlName="name" />

          <div *ngIf="baseForm.get('ingredients.' + i + '.name')?.touched">
            <div
              class="errors"
              *ngIf="baseForm.get('ingredients.' + i + '.name')?.errors?.['required']"
            >
              Моля попълнете име на съставката!
            </div>
          </div>

          <!-- Amount required-->

          <label for="amount">Количество (задължително):</label>
          <input type="number" id="amount" formControlName="amount" />

          <div *ngIf="baseForm.get('ingredients.' + i + '.amount')?.touched">
            <div
              class="errors"
              *ngIf="baseForm.get('ingredients.' + i + '.amount')?.errors?.['required']"
            >
              Моля попълнете количеството на съставката!
            </div>
          </div>

          <!-- Unit required-->

          <label for="unit">Мерна еденица (задължително):</label>
          <p class="hint">В която измерваме съставката</p>
          <select id="ingredient_unit" formControlName="unit">
            <option value="гр.">Грам</option>
            <option value="кг.">Килограм</option>
            <option value="мл.">Милилитър</option>
            <option value="л.">Литър</option>
          </select>

          <div *ngIf="baseForm.get('ingredients.' + i + '.unit')?.touched">
            <div
              class="errors"
              *ngIf="baseForm.get('ingredients.' + i + '.unit')?.errors?.['required']"
            >
              Моля изберете мерна еденица!
            </div>
          </div>

          <!-- Quantity -->

          <label for="quantity">Бройка:</label>
          <p class="hint">
            Използва се когато съставка има точно определени бройки
          </p>
          <input type="number" id="quantity" formControlName="quantity" />

          <!-- Preparation Method -->

          <label for="preparation_method">Допълнителна информация:</label>
          <p class="hint">
            Въведете информация, разделена със запетайка и интервал:
            <br />
            Пример: Почистване, измиване, нарязване.
          </p>

          <input
            type="text"
            id="ingredient_preparation_method"
            formControlName="preparation_method"
          />

          <!-- Base link -->

          <label for="base">Избери базова рецепта:</label>
          <p class="hint">
            Ако тази съставка е базова рецепта моля изберете коя?
          </p>
          <select id="base" formControlName="base">
            <option *ngFor="let recipe of baseRecipes" [value]="recipe.id">
              {{ recipe.title }}
            </option>
          </select>

          <!-- Order Index -->

          <label for="order_index">Последователност:</label>
          <p class="hint">Редът по който се показват съставките в рецептата</p>
          <input type="number" id="order_index" formControlName="order_index" />

          <!-- Add a button to remove the ingredient -->
         <button class="removeIngredient" type="button" (click)="removeIngredient(i)">
            <i class="fa-solid fa-trash fa-shake"></i>&nbsp;Премахнете съставката
          </button>
        </div>
      </div>
    </div>
      <br />

      <button type="button" (click)="addIngredient()">
        Добавете още една съставка
      </button>
      <button type="button" (click)="onSubmit()">
        Добавете базова рецепта
      </button>

      <a class="backBtn" href="javascript:history.back()"
        ><i class="fa-solid fa-backward fa-beat-fade"></i>&nbsp;&nbsp;Върнете се
        назад</a
      >
    </form>
  </div>
</div>
