<div class="mainLong">
  <h1 class="title">Добавяне на основна рецепта</h1>
  <form [formGroup]="baseForm">
    <!-- Title -->
    <div>
      <label for="title">Заглавие</label>
      <input type="text" id="title" formControlName="title" />
    </div>
    <!-- Title -->

    <!-- Base Type -->
    <div>
      <label for="base_type">Вид</label>
      <p class="hint">Сос, Дресин, Основа и др.</p>
      <input type="text" id="base_type" formControlName="base_type" />
    </div>
    <!-- Base Type -->

    <!-- Base Recipe Portions -->
    <div>
      <label for="base_recipe_portions">Порций</label>
      <p class="hint">Колко порций получаваме от тази основна рецепта</p>
      <input
        type="number"
        id="base_recipe_portions"
        formControlName="base_recipe_portions"
      />
    </div>
    <!-- Base Recipe Portions -->

    <!-- Yield -->
    <div>
      <label for="base_yield">Добив</label>
      <p class="hint">Количесто на готовата основа</p>
      <input type="number" id="base_yield" formControlName="base_yield" />
    </div>
    <!-- Yield -->

    <!-- Description -->
    <div>
      <label for="description">Начин на приготвяне</label>
      <textarea
        name="text"
        id="description"
        formControlName="description"
        cols="30"
        rows="5"
      ></textarea>
    </div>
    <!-- Description -->

    <!-- Summary -->
    <div>
      <label for="summary">Резюме</label>
      <p class="hint">Кратко изложение на основната рецепта</p>
      <input type="text" id="summary" formControlName="summary" />
    </div>
    <!-- Summary -->

    <!-- Allergen -->
    <div>
      <div>
        <label for="selectedAllergen">Алергени</label>
        <p class="hint">Добавете алергените, който садържа основната рецепта</p>
        <select formControlName="selectedAllergen">
          <option *ngFor="let allergen of allergens" [value]="allergen.id">
            {{ allergen.name }}
          </option>
        </select>
        <button type="button" (click)="addSelectedAllergen()">
          Добави избраният алерген
        </button>
      </div>
      <div>
        <p class="hint">Алергени, който вече сте добавили:</p>
        <div>{{ baseForm.get("selectedAllergenNames")?.value }}</div>
      </div>
      <!-- Allergen -->

      <!-- Image Upload -->

      <app-image-upload (imageUploaded)="addImageToForm($event)" />

      <!-- Image Upload -->

      <!-- Image -->
      <div formArrayName="image_recipe">
        <div
          *ngFor="let image of image_recipe.controls; let i = index"
          [formGroupName]="i"
        >
          <label for="image_recipe">Добавена снимка</label>
          <input type="text" id="image_recipe" formControlName="image_recipe" />
          <button type="button" (click)="removeImage(i)">
            Премахни добавената снимка
          </button>
        </div>
      </div>
      <!-- Image -->

      <!-- Video -->
      <div formArrayName="video_recipe">
        <div
          *ngFor="let video of video_recipe.controls; let i = index"
          [formGroupName]="i"
        >
          <label for="video_recipe">Постави тук видео линкът</label>
          <input type="text" id="video_recipe" formControlName="video_recipe" />
          <button type="button" (click)="removeVideo(i)">
            Премахни видео линкът
          </button>
        </div>
        <button type="button" (click)="addVideo()">
          Добави линк към видео
        </button>
      </div>
      <!-- Video -->

      <!-- Preparation -->
      <div formArrayName="preparation_method">
        <div
          *ngFor="let preparation of preparation_method.controls; let i = index"
          [formGroupName]="i"
        >
          <label for="preparation_method"
            >Метод на приготвяне на основната рецепта</label
          >
          <p class="hint">
            Добави метод използван при приготвяне на основната рецептата
          </p>
          <input
            type="text"
            id="preparation_method"
            formControlName="preparation_method"
          />
          <button type="button" (click)="removePreparation(i)">
            Премахни метода
          </button>
        </div>
        <button type="button" (click)="addPreparation()">
          Добави метод на приготвяне
        </button>
      </div>
      <!-- Preparation -->

      <!-- Ingredients -->
      <h3>Съставки</h3>
    </div>
    <div formArrayName="ingredients">
      <div
        *ngFor="let ingredient of ingredients.controls; let i = index"
        [formGroupName]="i"
      >
        <!-- Name -->
        <label for="name">Име</label>
        <input type="text" id="name" formControlName="name" />
        <!-- Amount -->
        <label for="amount">Количество</label>
        <input type="number" id="amount" formControlName="amount" />
        <!-- Order Index -->

        <label for="order_index">Последователност</label>
        <p class="hint">Редът по който се показват съставките в рецептата</p>
        <input type="number" id="order_index" formControlName="order_index" />
        <!-- Quantity -->
        <label for="quantity">Бройка</label>
        <p class="hint">
          Използва се когато съставка има точно определени бройки
        </p>
        <input type="number" id="quantity" formControlName="quantity" />
        <!-- Preparation Method -->
        <label for="preparation_method"
          >Методи на приготвяне на съставката</label
        >
        <input
          type="text"
          id="preparation_method"
          formControlName="preparation_method"
        />
        <!-- Unit -->
        <label for="unit">Мерна еденица</label>
        <select id="unit" formControlName="unit">
          <option value="гр.">грама</option>
          <option value="кг.">килограма</option>
          <option value="мл.">милилитра</option>
          <option value="л.">литра</option>
        </select>
        <!-- Base -->
        <!-- <label for="is_base">Base?</label>
        <select
          id="is_base"
          formControlName="is_base"
          (change)="onIsBaseChange()"
        >
          <option value="false">Не</option>
          <option value="true">Да</option>
        </select> -->

        <!-- <div *ngIf="isBaseControl == 'true'"> -->
        <label for="base">Избери основна рецепта:</label>
        <select id="base" formControlName="base">
          <option *ngFor="let recipe of baseRecipes" [value]="recipe.id">
            {{ recipe.title }}
          </option>
        </select>
        <!-- </div> -->
      </div>
    </div>
    <button type="button" (click)="addIngredient()">
      Добави още една състава
    </button>
    <button type="button" (click)="onSubmit()">Добави основната рецепта</button>

        {{ baseForm.value | json }}
  </form>
</div>


<!-- 

  <div class="mainLong">
  <h1 class="title">Добавяне на категория</h1>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

    <app-image-upload (imageUploaded)="addImageToForm($event)" />

    <div *ngIf="categoryForm.get('image')?.value !== ''">
      <p class="hint">Вие добавихте снимка</p>

      <input type="text" id="image" formControlName="image" />
      <button type="button" (click)="removeImage()">
        Премахни добавената снимка
      </button>
    </div>


    <label>
      Активна ли е категрия?
      <input type="checkbox" formControlName="is_active" />
      <p class="hint">Ще бъде ли категорията видима във сайта?</p>
    </label>

    <label>
      Заглавие (задължително):
      <input type="text" formControlName="name" required />
    </label>

    <div *ngIf="categoryForm.get('name')?.touched">
      <div
        class="errors"
        *ngIf="categoryForm.get('name')?.errors?.['required']"
      >
        Моля попълнете заглавието!
      </div>
    </div>

    <label for="menu">Меню (задължително):</label>
    <p class="hint">Към кое меню спада тази категория?</p>
    <select id="menu" formControlName="menu">
      <option value="Основно Меню">Основно</option>
      <option value="Сезонно Меню">Сезонно</option>
      <option value="Тестово Меню">Тестово</option>
    </select>

    <div *ngIf="categoryForm.get('menu')?.touched">
      <div
        class="errors"
        *ngIf="categoryForm.get('menu')?.errors?.['required']"
      >
        Моля изберете меню!
      </div>
    </div>

    <label>
      Бележка:
      <p class="hint">Няколко думи за категорията</p>
      <textarea formControlName="note"></textarea>
    </label>

    <label>
      Последователност:
      <p class="hint">Ред на подредба на категориите</p>
      <input type="number" formControlName="order_index" />
    </label>

    <button type="submit">Добавете категорията</button>

  </form>
</div>
 -->