<div class="mainLong">
  <!-- <div class="watermark"></div> -->
  <div class="recipe-container">
    <h1 class="title-black">{{ base?.title }}</h1>

    <!-- summary -->
    <div *ngIf="base?.summary">
      <div class="divider">
        <hr/>
        <p>&nbsp;&nbsp;Резюме&nbsp;&nbsp;</p>
        <hr/>
      </div>
      <br/>
      <div class="recipe-summary">{{ base?.summary }}</div>
    </div>
    <!-- summary -->

    <!-- ingredients -->
    <div *ngIf="base?.ingredients">
      <div class="divider">
        <hr/>
        <p>&nbsp;&nbsp;Съставки&nbsp;&nbsp;</p>
        <hr/>
      </div>
      <br/>

      <ul
        class="recipe-ingredients"
        *ngFor="let ingredient of base?.ingredients"
      >
        <li *ngIf="base?.ingredients">

          <!-- name  -->
          {{ ingredient.name }}

          <!-- quantity -->
          <span *ngIf="ingredient.quantity"
          >({{ ingredient.quantity }} бр.)</span
          >

          <!-- base -->
          <span class="value" *ngIf="ingredient.base">
              <a [routerLink]="['/base-waiters', ingredient.base]">
                &nbsp;&nbsp;<i class="fa-solid fa-forward"></i> &nbsp;&nbsp;<i
                class="fa-solid fa-magnifying-glass fa-beat-fade"
              ></i>
                &nbsp;&nbsp;<i class="fa-solid fa-backward"></i> </a
              ></span>
          <br/>
          <!-- preparation_method -->
          <span class="key" *ngIf="ingredient.preparation_method">
              <i> {{ ingredient.preparation_method }}</i>
            </span>
        </li>

      </ul>
    </div>
    <!-- ingredients -->

    <!-- preparation_method -->
    <div
      *ngIf="base?.preparation_method && base?.preparation_method?.length! > 0"
    >
      <div class="divider">
        <hr/>
        <p>&nbsp;&nbsp;Методи&nbsp;&nbsp;</p>
        <hr/>
      </div>
      <br/>
      <ul
        class="recipe-preparation-method"
        *ngFor="let method of base?.preparation_method"
      >
        <li>{{ method.preparation_method }}</li>
      </ul>
    </div>
    <!-- preparation_method -->

    <!-- recipe-other-details -->

    <table class="recipe-other-details">
      <!-- base_type requite -->
      <tr>
        <td><span class="key">Тип</span></td>
        <td>
          <span class="value">{{ base?.base_type }}</span>
        </td>
      </tr>

      <!-- Allergens -->
      <tr *ngIf="base?.allergens?.length! > 0">
        <td><span class="key"> Алергени</span></td>
        <td>
          <div *ngIf="allergens.length > 0">
            <ng-container *ngFor="let allergen of allergens; let last = last">
              <span class="value">{{ allergen.name }}</span>
              <ng-container *ngIf="!last">,</ng-container>
            </ng-container>
          </div>
        </td>
      </tr>
    </table>

    <br/>
    <a class="btn" href="javascript:history.back()"
    ><i class="fa-solid fa-backward fa-beat-fade"></i>&nbsp;&nbsp;Върни се
      назад</a
    >
  </div>
  <br/>
</div>
