<div class="mainLong">
  <div class="wrapper">
    <h3 class="title-white">Забравена парола</h3>

    <p class="hint">
      Моля, въведете вашия имейл адрес, за да изпратим имейл за смяна на
      паролата.
    </p>

    <div class="formGroup">
      <input
        type="email"
        class="formControl"
        placeholder="Имейл Адрес"
        #passwordResetEmail
        required
      />
    </div>
    <p class="errors">Ако не намирате имейлът моля проверете в спам папката!</p>
    <br/>


    <div class="buttons">
      <input
        type="submit"
        class="btn"
        value="Изпрати имейл"
        (click)="authService.forgotPassword(passwordResetEmail.value)"
      />

      <a href="#" routerLink="/sign-in">
        <div class="btn">Върни се към Вход</div>
      </a>
    </div>


  </div>
</div>
