<div class="mainLong">
  <div class="wrapper">
    <h1 class="title-white">Вход</h1>
    <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
      <div class="formGroup">
        <label for="email">Имейл</label>
        <input
          type="text"
          id="email"
          formControlName="email"
          autocomplete="email"
        />

        <div
          *ngIf="
            signInForm.get('email')?.invalid && signInForm.get('email')?.touched
          "
        >
          <div
            class="errors"
            *ngIf=" signInForm.get('email')?.errors?.['required']"
          >
            Имейлът е задължителен!
          </div>
          <div
            class="errors"
            *ngIf=" signInForm.get('email')?.errors?.['email']"
          >
            Невалиден имейл!
          </div>
        </div>
      </div>
      <div class="formGroup">
        <label for="password">Парола</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          autocomplete="current-password"
        />

        <div
          *ngIf="
            signInForm.get('password')?.invalid &&
            signInForm.get('password')?.touched
          "
        >
          <div
            class="errors"
            *ngIf=" signInForm.get('password')?.errors?.['required']"
          >
            Паролата е задължителна!
          </div>
          <div
            class="errors"
            *ngIf=" signInForm.get('password')?.errors?.['minlength']"
          >
            Паролата трябва да е поне 6 знака дълга!
          </div>
        </div>
      </div>

      <div class="formGroup">
        <button type="submit">Влезте</button>
      </div>

      <div *ngIf="loginError">{{ loginError }}</div>

      <div>
        <a href="#" routerLink="/sign-up">
          <div class="hint">Все още нямате Регистрация?</div>
        </a>
        <a href="#" routerLink="/forgot-password">
          <div class="errors">Забравихте вашата парола?</div>
        </a>
      </div>


    </form>
  </div>
</div>
