.recipe-list {
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-item {
    background-color: var(--mainWhiteColor);
    border: 1px solid  var(--mainGreyColor);
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    padding: 20px;
    transition: transform 0.2s;
}

.recipe-item h3 {
    font-size: 18px;
    margin: 0;
}

.recipe-item:hover {
    transform: scale(1.05);
}

a {
    color: var(--mainBlackColor);
}

a:hover {
    background-color: var(--mainGreyColor);
}