@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
/* reset Css */

/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*
    Custom
  */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  all: unset;
  cursor: pointer;
}


/* css */

body {
  height: 100vh;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* font-size: clamp(0.6rem, 0.734rem + 0.8511vw, 0.9rem); */
}

:root {
  --mainColor: #8abe53;
  /* --mainColor: #FF8960; */

  --secondColor: #00C0A3;
  /* --secondColor: #7FD1AE; */
  --backgroundColor: #D5CABD;


  /* first */
  --mainRGBColor: 6, 174, 213;
  --alpha: 0.8;

  --mainColor: #06aed5;
  --secondColor: #086788;
  --backgroundColor: #D5CABD;



  --mainWhiteColor: #FFFFFF;
  --mainBlackColor: #000000;
  --mainRedColor: red;

  --mainGreyColor: #708090;
  --mainMagnoliaColor: #F6F4F9;

  --mainCoralColor: #FFEDCB;


  --animatedTitleBackground: rgba(var(--mainRGBColor), var(--alpha));
  /* --animatedTitleBackground: rgba(0, 192, 163, 0.8); */
  /* --animatedTitleBackground: rgba(255, 137, 96, 0.8); */

  --borderColor: #ddd;

  --titleFont: Georgia, Times, serif;
}


.main {
  height: 87vh;
  background-color: var(--backgroundColor);

}


.mainLong {
  border: 1px solid var(--borderColor);
  background-color: var(--backgroundColor);
  background-repeat: no-repeat;
  min-height: 87vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  width: 1600px;
  height: 1200px;
  background-image: url('./assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

form {
  max-width: 600px;
  margin: 0 auto 50px auto;
  padding: 20px;
  background-color: var(--mainMagnoliaColor);
  border: 1px solid var(--borderColor);
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: unset;
  border-bottom: 1px solid var(--mainColor);
  border-color: var(--mainColor);
  background: var(--mainMagnoliaColor);
}

textarea {
  white-space: pre-wrap;
}

/* input[type="checkbox"] {
  margin-right: 5px;
  border: 1px solid var(--mainWhiteColor);
} */


input[type="text"]:focus-visible,
input[type="number"]:focus-visible,
select:focus-visible,
textarea:focus-visible,
input[type="checkbox"]:focus-visible {
  outline: 1px solid var(--secondColor);
  /* border: 1px solid var(--mainColor); */
  border: unset;
}

select:hover {
  background: var(--mainWhiteColor);
  color: var(--secondColor);
}

select:checked {
  background: var(--mainWhiteColor);
  color: var(--secondColor);
}

select:active,
select:focus {
  outline: 1px solid var(--secondColor);
  /* box-shadow: 0 0 5px var(--animatedTitleBackground);  */
}

option {
  background-color: var(--mainColor);
  color: var(--mainWhiteColor);

}

select option:hover {
  background-color: var(--mainColor);
  color: var(--mainWhiteColor);
}

/*  */

button,
.btn {
  padding: 10px 20px;
  display: block;
  background-color: var(--mainColor);
  color: var(--mainWhiteColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

button {
  width: 100%;
  margin: 10px 10px 10px 0;

}

button:hover,
.btn:hover {
  background-color: var(--secondColor);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}


/*! Form */
.title-white,
.title-black {
  text-align: center;
  padding: 20px 0;
  color: var(--mainWhiteColor);
  font-family: var(--titleFont);
  font-size: 32px;
}

.title-black {
  color: var(--mainBlackColor);
}

.hint {
  font-size: 12px;
  font-style: italic;
  color: var(--mainColor);
  display: block;
}

.errors {
  font-style: italic;
  color: var(--mainRedColor);
  font-size: 12px;
}

.divider {
  width: 100%;
  padding: 20px 30px 0 30px;
  display: flex;
  align-items: center;
  font-style: italic;
  color: var(--mainBlackColor);
  font-weight: 800;

}

.ingredients {
  padding: 0 30px;
}

hr {
  width: 100%;
  height: 0;
  margin-bottom: 5px;
}

/*! Table */

.key {

  color: var(--mainGreyColor);
  padding-right: 10px;
}

.value {
  font-style: italic;
  /* float: inline-end; */
  font-weight: 500;

}

tr:nth-child(even) {
  background-color: var(--mainMagnoliaColor);
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;


}

td,
th {
  border: 1px solid var(--borderColor);
  padding: 10px;

}

tr:hover {
  background-color: var(--mainCoralColor);
  transition: background-color 0.3s;
}


@media (max-width: 768px) {}